<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.android.deskclock">
    <original-package android:name="com.android.alarmclock"/>
    <original-package android:name="com.android.deskclock"/>
    <application android:icon="@mipmap/ic_launcher_alarmclock" android:name="com.android.application.DeskClockApplication"/>
</manifest>
