<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.phone" coreApp="true" package="com.android.phone">
    <original-package android:name="com.android.phone"/>
    <application android:icon="@mipmap/ic_launcher_phone" android:name="PhoneApp" android:persistent="true"/>
</manifest>
