<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.qualcomm.wfd.service">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <permission android:description="@string/perm_desc" android:label="@string/perm_label" android:name="com.qualcomm.permission.wfd.QC_WFD" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.qualcomm.permission.wfd.QC_WFD"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:process=":wfd_service">
        <service android:name=".WfdService" android:permission="com.qualcomm.permission.wfd.QC_WFD">
            <intent-filter>
                <action android:name="com.qualcomm.wfd.service.WfdService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
