<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.wallpaper">
    <original-package android:name="com.android.wallpaper"/>
    <uses-feature android:name="android.software.live_wallpaper"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application android:icon="@drawable/ic_launcher_wallpaper" android:label="@string/wallpapers">
        <activity android:enabled="@bool/config_enable_grass_wallpaper" android:label="@string/wallpaper_grass" android:name="com.android.wallpaper.grass.Grass" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        <activity android:enabled="@bool/config_enable_galaxy_wallpaper" android:label="@string/wallpaper_galaxy" android:name="com.android.wallpaper.galaxy.Galaxy" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        <activity android:enabled="@bool/config_enable_fall_wallpaper" android:label="@string/wallpaper_fall" android:name="com.android.wallpaper.fall.Fall" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.TEST"/>
            </intent-filter>
        </activity>
        <service android:enabled="@bool/config_enable_nexus_wallpaper" android:label="@string/wallpaper_nexus" android:name="com.android.wallpaper.nexus.NexusWallpaper" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/nexus"/>
        </service>
        <service android:enabled="@bool/config_enable_grass_wallpaper" android:label="@string/wallpaper_grass" android:name="com.android.wallpaper.grass.GrassWallpaper" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/grass"/>
        </service>
        <service android:enabled="@bool/config_enable_galaxy_wallpaper" android:label="@string/wallpaper_galaxy" android:name="com.android.wallpaper.galaxy.GalaxyWallpaper" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/galaxy"/>
        </service>
        <service android:enabled="@bool/config_enable_fall_wallpaper" android:label="@string/wallpaper_fall" android:name="com.android.wallpaper.fall.FallWallpaper" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/fall"/>
        </service>
        <activity android:enabled="@bool/config_enable_polar_clock_wallpaper" android:exported="true" android:label="@string/clock_settings" android:name="com.android.wallpaper.polarclock.PolarClockSettings" android:theme="@android:style/Theme"/>
        <service android:enabled="@bool/config_enable_polar_clock_wallpaper" android:label="@string/wallpaper_clock" android:name="com.android.wallpaper.polarclock.PolarClockWallpaper" android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/polar_clock"/>
        </service>
    </application>
</manifest>
