<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.shared" package="com.android.contacts">
    <original-package android:name="com.android.contacts"/>
    <application android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_contacts" android:name="com.android.contacts.ContactsApplication" android:taskAffinity="android.task.contacts"/>
</manifest>
