<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.phone" coreApp="true" package="com.android.providers.telephony">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <application android:allowBackup="false" android:allowClearUserData="false" android:icon="@drawable/ic_launcher_phone" android:label="@string/app_label" android:process="com.android.phone">
        <provider android:authorities="telephony" android:multiprocess="true" android:name="TelephonyProvider"/>
        <provider android:authorities="nwkinfo" android:multiprocess="true" android:name="EmptyProvider"/>
        <provider android:authorities="cb" android:multiprocess="true" android:name="CbProvider"/>
        <provider android:authorities="sms" android:multiprocess="true" android:name="SmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS"/>
        <provider android:authorities="cdma" android:multiprocess="true" android:name="CdmaCallOptionProvider"/>
        <provider android:authorities="wappush" android:multiprocess="true" android:name="WapPushProvider"/>
        <provider android:authorities="mms" android:multiprocess="true" android:name="MmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS">
            <grant-uri-permission android:pathPrefix="/part/"/>
            <grant-uri-permission android:pathPrefix="/drm/"/>
        </provider>
        <provider android:authorities="mms-sms" android:multiprocess="true" android:name="MmsSmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS"/>
        <provider android:authorities="white-list" android:multiprocess="true" android:name="WhiteListProvider"/>
    </application>
</manifest>
